<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="dev.drewfrisk.gaslands_hq" android:versionName="0.1">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="Gaslands HQ" android:icon="@mipmap/icon" android:roundIcon="@mipmap/icon_round"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCEPT_HANDOVER" />
</manifest>